*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.zilong{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.534)), url("./assets/ml.jpg");
    background-size: cover;
    background-position: center;
}

.layla{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eudora{
    font-size: 36px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}

.layla ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.layla ul li a{
    color: white;
    text-transform: uppercase;
}

.layla ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.layla ul li:hover::after{
    width: 100%;
}

.balmond{
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    transform: translateY(-50%);
}

.balmond h1{
    font-size: 80px;
    margin-top: 80px;
}

.balmond p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    margin: 20px 10px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 3px solid goldenrod;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

span{
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    background: goldenrod;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

footer{
    text-align: center;
    color: white;
    font-weight: bold;
    background: black;
}